@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFE6D4;
  --foreground: #01404E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
